<header class="o-site-header">
  <div class="o-site-header__inner">
    <a
      href="/"
      class="a-logo-link"
      rel="home"
      {% if page.url == '/' %}
        aria-current="page"
      {% endif %}
    >
      {{ site.name }}
    </a>

    <nav class="m-navbar">
      <ul>
        {% for navPage in collections.mainNav %}
          <li>
            <a
              href="{{ navPage.url }}"
              class="a-nav-link"
              {% if page.url contains navPage.url %}
                aria-current="page"
              {% endif %}
            >
              {{ navPage.data.navTitle | default: navPage.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
