---
layout: _default
---
<article class="o-post">
  <header class="m-post-header">
    <h1>
      <a href="{{ url }}">{{ title }}</a>
    </h1>

    <p class="a-timestamp">
      Published <time>{{ page.date | date: "%B %e, %Y" }}</time>
    </p>
  </header>

  <div class="m-post-body">
    {{ content }}
  </div>
</article>

<div class="a-callout-box m-blog-cta">
  <img
    class="a-headshot"
    src="/images/headshot.jpg"
    alt="Evan Minto looking up and slightly smiling. He’s a young white man with medium-length hair and black plastic glasses."
  >

  <h2>Let’s Do Some Work Together</h2>

  <p>
    Hey there! My name is Evan Minto and I’m a web designer and developer,
    accessibility consultant, writer, and speaker. Do you have an
    interesting project you need help with? Could your team use
    some training in HTML, CSS, or accessibility best practices?
    <a href="/contact">Let’s talk.</a>
  </p>
</div>
