---
layout: _shadow_particles
logoIsHeading: false
---

<article>
  <header>
    <h1>Episode {{ episodeNumber }}: {{ title }}</h1>
    <date>{{ page.date | date("dddd, MMMM D, YYYY") }}</date>
  </header>

  {{ content | safe }}

  <audio src="{{ mp3Url }}"></audio>
  <a href="{{ mp3Url }}">Direct Download</a>
</article>