---
layout: _landing_page

title: Contact Me
navTitle: Contact

mainNav: true
mainNavOrder: 2

pageDescription: "I’m <strong>currently accepting new clients</strong> for
web development, web design, and anime/manga writing and live event hosting. If
you’re interested in getting my help in any of these areas, please drop me a
line using the link below and I’ll get back to you as soon as possible."

emailLinkText: Send me an email
---

<a class="a-call-to-action-link" href="mailto:evan.minto@gmail.com">
  {{ emailLinkText }}
</a>
