---
layout: _landing_page

title: Contact Me
navTitle: Contact

mainNav: true
mainNavOrder: 2

emailLinkText: Send me an email
---

<div>
  <p>
    I’m currently accepting new clients for web
    design/development, game development, writing, and speaking work. My services include the following:
  </p>

  <ul>
    <li><strong>User experience and visual design</strong> for responsive web and mobile apps.</li>
    <li><strong>Design system</strong> consulting, including design, development, and training.</li>
    <li><strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong> development, including React, Web Components, and more.</li>
    <li><strong>Game and interactive experience development</strong> in Unity.</li>
    <li><strong>Usability testing</strong> and <strong>user research</strong>.</li>
    <li><strong>Web accessibility</strong> auditing, remediation, and training.</li>
    <li><strong>Reviews</strong> and <strong>editorials</strong> covering anime, manga, and video games.</li>
    <li><strong>Live event MCing, video hosting</strong> and <strong>interviews</strong> with creative professionals.</li>
  </ul>

  <p>
    If you’re interested in working with me
    on a project, please drop me a line at <a href="mailto:evan.minto@gmail.com">evan.minto@gmail.com</a>, including any
    relevant details, and I’ll get back to you as soon as possible.
  </p>

  <a class="a-call-to-action-link" href="mailto:evan.minto@gmail.com">
    {{ emailLinkText }}
  </a>
</div>
