---
layout: _default

aboutMe:
  title: Hey There!
  image:
    src: /images/headshot.jpg
    alt: "Evan Minto looking up and slightly smiling. He’s a young white man with
medium-length hair and black plastic glasses."
  biography: 'I’m Evan Minto, a freelance web developer, designer, writer,
    animator, game developer, and musician, living in San Francisco.'

freelanceServices:
  -
    title: Web Designer & Developer
    titlePrefix: I’m a
    logoListTitle: Clients
    description: 'I design and build beautiful, accessible, and performant web sites, apps, and
design systems.'
    images:
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
  -
    title: Pop Culture Writer & Speaker
    titlePrefix: I’m also a
    logoListTitle: Bylines/Appearances
    description: 'I write and speak about the history and craft of
    animation, comics, and video games for a variety of publications, channels, and live events.'
    images:
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org
      -
        title: Internet Archive
        src: //placehold.it/100x50
        href: https://archive.org

contactSectionTitle: Now Accepting New Clients
contactLinkText: Drop me a line
widePage: true
---

<section class="a-content-block">
  {% include _about_me with
    title: aboutMe.title,
    image: aboutMe.image,
    biography: aboutMe.biography
  %}
</section>

<section class="a-content-block">
  <div class="o-freelance-cards">
    <div class="l-switcher">
      {% for service in freelanceServices %}
        {% include _freelance_card with
          title: service.title,
          titlePrefix: service.titlePrefix,
          logoListTitle: service.logoListTitle,
          description: service.description,
          images: service.images
        %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="a-content-block m-contact-teaser l-switcher__standalone">
  <h2>{{ contactSectionTitle }}</h2>
  <a class="a-call-to-action-link" href="/contact">{{ contactLinkText }}</a>
</section>
