---
layout: _landing_page

mainNav: true
mainNavOrder: 0

title: Work
categories:
  -
    title: Design
    url: /work/design/
  -
    title: Web Development
    url: /work/web-dev/
  -
    title: Game Dev
    url: /work/game-dev/
  -
    title: Art
    url: /work/art/
  -
    title: Writing
    url: /work/writing/
  -
    title: Speaking
    url: /work/speaking/
  -
    title: Music
    url: /work/music/
---
<ul class="l-grid">
  {% for category in categories %}
    <li>{% render _work-card, title: category.title, url: category.url %}</li>
  {% endfor %}
</ul>