---
layout: _landing_page

mainNav: true
mainNavOrder: 0

title: Work

categories:
  -
    title: Web
    id: web
    projects:
      -
        title: Azuki
        subtitle: Full Time | 2019–Present
        img:
          src: /images/projects/azuki.jpg
          alt: "A web-based manga reader showing two pages of the series To Your Eternity."
        description: "Co-founder of a worker-owned subscription digital manga service. Head of product/marketing design, licensing, web development, & more."
        url: https://www.azuki.co
      -
        title: Kodansha USA
        subtitle: Freelance | 2018–2021
        img:
          src: /images/projects/kodansha.jpg
          alt: "Attack on Titan details page on Kodansha website."
        description: "Lead developer and UX consultant on a full rebranding and site redesign for the major manga and Japanese book publisher."
        url: https://kodansha.us
      -
        title: BlockPunk
        subtitle: Freelance | 2019–2020
        img:
          src: /images/projects/blockpunk-net.jpg
          alt: "Product page on BlockPunk, showing art from the series Banana Fish with price and a description."
        description: "Provided product strategy, web design/development, and accessibility assistance to Singaporean anime merchandise startup."
        url: https://blockpunk.net/
      -
        title: Promare Title Generator
        subtitle: Personal Project | 2019
        img:
          src: /images/projects/promare-title-generator.jpg
          alt: "Title in the style of the anime film Promare, with giant block letters and red script. It reads 'I made a Promare Title Generator, You're Welcome.'"
          focalPoint: center
        description: "App for generating titles in the style of the anime film <cite>Promare</cite>. Over 20K uniques in first weekend."
        url: https://promaretitlegenerator.com/
      -
        title: The Internet Archive
        subtitle: Full Time | 2017–2018
        img:
          src: /images/projects/internet-archive.jpg
          alt: "Internet Archive home page. There is a large search box and options for
          each media type."
        description: "Built out UX research and design process, established accessibility best practices, and kickstarted internal design system."
        url: https://archive.org/
      -
        title: Crunchyroll
        subtitle: Full Time | 2013–2017
        img:
          src: /images/projects/crunchyroll.jpg
          alt: "Crunchyroll simulcast calendar page. The calendar shows a single week with a timeline of all the episodes that launch on each day."
        description: "Built core marketing and discovery features while leading frontend standardization and refactoring efforts."
        url: https://crunchyroll.com
  -
    title: Writing
    id: writing
    projects:
      -
        title: Anime News Network
        subtitle: 2018–Present
        img:
          src: /images/projects/ann-kill-la-kill.jpg
          alt: "Shot from the anime series Kill la Kill showing Ryuko and Satsuki glaring
          at each other across a battlefield."
        url: https://www.animenewsnetwork.com/search?q=evan+minto
      -
        title: Otaku USA Magazine
        subtitle: 2010–Present
        img:
          src: /images/projects/otaku-usa.jpg
          alt: "Cover of Otaku USA Magazine, featuring Asuka from the anime series Evangelion."
        url: https://www.otakuusamagazine.com/author/evanminto/
      -
        title: Ani-Gamers
        subtitle: 2006–Present
        img:
          src: /images/projects/anigamers.jpg
          alt: "An article on Ani-Gamers titled &quot;The Radically Casual Charm of Lost Levels.&quot;"
        url: https://anigamers.com/search/author/vamptvo
      -
        title: IGN
        subtitle: 2019
        img:
          src: /images/projects/ign-broly.jpg
          alt: "Shot from the anime series Dragon Ball showing Broly powering up."
        url: https://www.ign.com/articles/2019/01/21/dragon-ball-super-broly-is-the-ultimate-dragon-ball-action-experience
  -
    title: Speaking
    id: speaking
    projects:
      -
        title: Ani-Gamers Podcast
        subtitle: 2009–Present
        img:
          src: /images/projects/anigamers-podcast.jpg
          alt: "Ani-Gamers logo. It’s an anime eye with a video game controller as its pupil."
        description: "Every two weeks I host the Ani-Gamers Podcast, in which my co-host and I discuss anime, manga, and video games and make lots of bad jokes."
        url: https://anigamers.com/podcast
      -
        title: Anime Academy
        subtitle: Crunchyroll | 2018
        img:
          src: /images/projects/anime-academy.jpg
          alt: ""
        description: "Wrote a full season of this educational YouTube series covering principles of animation and hosted four of the episodes."
        url: https://www.youtube.com/playlist?list=PL70z2t41-3ajaa7MadyYTt9PpOQpzEqUO
      -
        title: Crunchyroll Expo
        subtitle: Crunchyroll | 2018
        img:
          src: /images/projects/crunchyroll-expo.jpg
          alt: "Crunchyroll Expo 2018 logo."
        description: "Moderated stage events featuring staff from the anime series <cite>Darling in the Franxx</cite> in front of thousands of attendees."
        url: https://www.animenewsnetwork.com/convention/2018/darling-in-the-franxx-at-crunchyroll-expo/.136348
      -
        title: A Talk on Titan
        subtitle: Crunchyroll | 2018
        img:
          src: /images/projects/a-talk-on-titan.jpg
          alt: ""
        description: "Co-hosted a weekly Attack on Titan watchalong show."
        url: https://www.crunchyroll.com/a-talk-on-titan
      -
        title: Crunchycast
        subtitle: Crunchyroll | 2015–2016
        img:
          src: /images/projects/crunchycast.jpg
          alt: ""
        description: "Co-founded, co-hosted, and occasionally produced the official podcast of anime streaming service Crunchyroll."
        url: https://www.crunchyroll.com/crunchycast
      -
        title: FanimeCon
        subtitle: 2014–Present
        img:
          src: /images/projects/fanimecon.jpg
          alt: "FanimeCon 2019 con guide, featuring five anime characters dancing in
          formal dress."
        description: "I frequently host talks at FanimeCon. In 2019 I moderated two stage events with <cite>Cowboy Bebop</cite> designer Toshihiro Kawamoto."
        url: https://www.youtube.com/watch?v=XV6hfhmG5IM
  -
    title: Games
    id: games
    projects:
      -
        title: Helicopter M.O.M.
        subtitle: Ludum Dare Game Jam | 2020
        img:
          src: /images/projects/helicopter-mom.jpg
          alt: "Screenshot from a 2-D sidescroller game featuring a small robot boy and a helicopter robot above him."
          focalPoint: left
        url: /old-site/ludumdare/46/
      -
        title: Deadline
        subtitle: Ludum Dare Game Jam | 2019
        img:
          src: /images/projects/deadline.jpg
          alt: "Screenshot from a pixel-art game. A small blue figure jumps over buildings
          in front of a purple sky."
          focalPoint: center
        url: https://vamptvo.itch.io/deadline
      -
        title: Waluigi Simulator 2018
        subtitle: Personal Project | 2018
        img:
          src: /images/projects/waluigi-simulator.jpg
          alt: "Screenshot from a pixel-art game. Waluigi stands ready against a green
          background. Text reads &quot;Waluigi Simulator 2018. Everyone is here. Press X to punch.&quot;"
          focalPoint: center
        url: /wahhh
      -
        title: The Next One
        subtitle: Ludum Dare Game Jam | 2018
        img:
          src: /images/projects/the-next-one.jpg
          alt: "Screenshot from a pixel-art game. A character stands in a square dungeon
          room surrounded by dead bodies."
        url: /ludumdare/43
      -
        title: Friendship Fighter
        subtitle: Ludum Dare Game Jam | 2018
        img:
          src: /images/projects/friendship-fighter.jpg
          alt: "Screenshot from a game. Two fighters stand opposite each other in a
          fighting-game style. There is a visual novel-style text overlay underneath."
        url: https://ldjam.com/events/ludum-dare/41/friendship-fighter
  -
    title: Art
    id: art
    projects:
      -
        title: Freshly Cut
        subtitle: 2021
        description: "Bread illustration created for a friend. Digital."
        img:
          src: /images/projects/bread.jpg
          alt: "Brightly colored digital illustration of a loaf of bread cut on a cutting board. Digital."
          focalPoint: center
        url: https://www.instagram.com/p/CVbHjPsruiX/
      -
        title: Metroid II
        subtitle: 2021
        description: "Animated illustration of the famous climactic scene of <cite>Metroid II</cite>. Digital."
        img:
          src: /images/projects/metroid-ii.jpg
          alt: "Samus from Metroid looking in confusion at a Metroid with hearts above it."
          focalPoint: center
        url: https://www.instagram.com/p/CUoAOSLMnhg/
      -
        title: Clownsona
        subtitle: 2021
        description: "Caricature of a clown-loving friend of mine, created as a gift. Digital."
        img:
          src: /images/projects/clownsona.jpg
          alt: "A young woman drawn as a clown balancing on one leg."
          focalPoint: top
        url: https://www.instagram.com/p/CNOTa9chQde/
      -
        title: Self-Portrait
        subtitle: City College of San Francisco | 2020
        description: "Self-portrait for a figure drawing course. Conté crayon, charcoal, and ink."
        img:
          src: /images/projects/self-portrait.jpg
          alt: "Portrait of Evan with long hair in conte crayon, charcoal, and ink."
          focalPoint: center
        url: https://www.instagram.com/p/CI6Y0LhhtwZ/
      -
        title: Blue in Moonlight
        subtitle: City College of San Francisco | 2020
        description: "Portrait of Mahershala Ali from <cite>Moonlight</cite> for a class assignment in Digital Illustration. Line art in pencil, colored in Adobe Photoshop."
        img:
          src: /images/projects/blue-in-moonlight.jpg
          alt: "Colored illustration of Mahershala Ali smiling slightly."
          focalPoint: center
        url: https://www.instagram.com/p/CAYVwqcB2Nz/
      -
        title: "Lenny the Lemur"
        subtitle: City College of San Francisco | 2020
        description: "Mascot character design for the San Francisco Zoo for a class assignment in Digital Illustration. Line art in ink, colored in Adobe Illustrator."
        img:
          src: /images/projects/lenny-the-lemur.jpg
          alt: "Colored illustration of a smiling lemur cartoon character. He's wearing a shirt labeled &quot;Zoo.&quot;"
          focalPoint: top
        url: https://www.instagram.com/p/B8h4VpShFRg/
      -
        title: Last Train
        subtitle: City College of San Francisco | 2019
        description: "Short film produced as my final assignment for 2D Animation course. Animated in Illustrator, edited in After Effects and Audition."
        img:
          src: /images/projects/last-train.jpg
          alt: "Animated elderly man turning to look at the camera. He's terrified of something."
        url: https://www.youtube.com/watch?v=nlW4QlXecq4
      -
        title: Warning Label
        subtitle: City College of San Francisco | 2019
        description: "Stop-motion animation for class assignment in 2D Animation. Created using Nendoroid anime figures."
        img:
          src: /images/projects/warning-label.jpg
          alt: "Inked drawing of a cute anime character with translucent turquoise hair."
          focalPoint: center
        url: https://youtu.be/AS_eXJFu5r8
      -
        title: Inktober
        subtitle: 2019
        description: "Annual 31-day inking challenge. Micron pens and COPIC markers."
        img:
          src: /images/projects/inktober-2019.jpg
          alt: "Inked drawing of a cute anime character with translucent turquoise hair."
          focalPoint: center
        url: https://twitter.com/VamptVo/status/1181808448775737346
      -
        title: Inktober
        subtitle: 2018
        description: "Annual 31-day inking challenge. Micron pens and Pigma brush pens."
        img:
          src: /images/projects/inktober-2018.jpg
          alt: "Inked drawing of a cute anime character with translucent turquoise hair."
          focalPoint: center
        url: https://twitter.com/VamptVo/status/1047325532386295809
      -
        title: Demo Reel
        subtitle: 2013
        description: Featuring my student work and some miscellaneous projects, including an 11-Second Club submission and an animatic.
        img:
          src: /images/projects/demo-reel-2013.jpg
          alt: "Title card reading &quot;Evan Minto Demo Reel.&quot;"
        url: http://evanminto.com/media/reels/EvanMintoDemoReelSummer2013.mp4
      -
        title: G.Robo and the Cyberpunks
        subtitle: Rensselaer Polytechnic Institute | 2013
        description: Thesis project for animation major showcasing a technique that colors in shapes using flat textures.
        img:
          src: /images/projects/grobo-cyberpunks.jpg
          alt: "An animated band playing a song on stage. The characters are all made up of simple, flat-colored shapes."
        url: https://www.youtube.com/watch?v=mI6vWyiyiX8
  -
    title: Music
    id: music
    projects:
      -
        title: Original Music
        subtitle: 2012–Present
        img:
          src: /images/projects/solo-music.jpg
          alt: "Evan playing guitar and singing into a microphone on stage. A sign behind
          him reads &quot;The Utah&quot;"
        url: http://soundcloud.com/evanminto/
      -
        title: Science & Progress
        subtitle: 2009–2012
        img:
          src: /images/projects/science-and-progress.jpg
          alt: "Logo for Science & Progress. White text against black splotches of paint."
          focalPoint: center
        url: https://scienceandprogress.bandcamp.com/
---
<pwc-tabs>
  <pwc-tab-list>
    <ul>
      {% for category in categories %}
        <li>
          <pwc-tab>
            <a href="#{{ category.id }}">{{ category.title }}</a>
          </pwc-tab>
        </li>
      {% endfor %}
    </ul>
  </pwc-tab-list>

  {% for category in categories %}
    <pwc-tab-panel id="{{ category.id }}">
      <section>
        <h2>{{ category.title }}</h2>

        <ul class="l-grid">
          {% for project in category.projects %}
            <li>
              {% include _summary, title: project.title, img: project.img, url: project.url, description: project.description, subtitle: project.subtitle %}
            </li>
          {% endfor %}
        </ul>
      </section>
    </pwc-tab-panel>
  {% endfor %}
</pwc-tabs>