.projects {
  padding: 0;

  list-style: none;
}

.projects > li {
  margin: 0;
}

.project {
  margin: 1.71428571em 0;
}

.project img {
  width: 100%;
}

.project a {
  text-decoration: none;

  color: inherit;
}

.project h3 {
  margin: 0;

  font-size: 1.5em;
  line-height: calc(1.3125em * var(--v-rhythm-modifier))
}

.project p {
  margin: 0;
}
