.site-header {
  h1 {
    // box-sizing: border-box;
    height: calc(1.5 * var(--v-rhythm));
    margin: 0;
    padding: calc(0.5 * var(--v-rhythm)) var(--v-rhythm) calc(2 * var(--v-rhythm)) var(--v-rhythm);

    font-size: 1em;

    background: linear-gradient(
      to bottom,
      var(--color-dark-trans-base),
      transparent
    );
    color: var(--color-white-current);

    a {
      display: block;
      height: 100%;

      color: inherit;
    }
  }

  svg {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}
