.social-link {
  display: block;
  height: calc(1em * var(--v-rhythm-modifier));
  margin: 0 auto;
  width: calc(1em * var(--v-rhythm-modifier));

  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;

  box-shadow: none;
}
