* {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 85ch;
}

* + * {
  margin-top: 1.5rem;
}

body {
  background: midnightblue;
  color: wheat;
  line-height: 1.5;
}

a {
  color: white;
}

:visited {
  color: lightblue;
}

ol[class],
ul[class] {
  list-style: none;
  padding: 0;
}

article,
aside,
header,
footer,
main {
  max-width: none;
}
