---
layout: false
permalink: feed/shadow-particles.xml
---

<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>{{ shadowParticles.name }}</title>
    <link>{{ shadowParticles.url }}</link>
    <description>{{ shadowParticles.description }}</description>
    <language>en-us</language>

    {%- set reversed_posts = collections.shadowParticlesEpisode %}
    <lastBuildDate>{{ reversed_posts[0].date | date("YYYY-MM-DDTHH:mm:SS[Z]") }}</lastBuildDate>
    <atom:link href="{{ shadowParticles.url }}/feed/shadow-particles.xml" rel="self" type="application/rss+xml" />

    {%- for post in collections.shadowParticlesEpisode %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ shadowParticles.url }}{{ post.url }}</link>
        <pubDate>{{ post.date | date("YYYY-MM-DDTHH:mm:SS[Z]") }}</pubDate>
        <guid>{{ shadowParticles.url }}{{ post.url }}</guid>
        <description><![CDATA[{{ post.templateContent | safe }}]]></description>
        <link rel="enclosure"
          type="audio/mpeg"
          title="MP3"
          href="{{ post.mp3Url }}"
          length="1234"
        />
      </item>
    {% endfor -%}
  </channel>
</rss>
